# no apple artifacts
.DS_Store
.AppleDouble
# no installable stuff
annos/node_modules
# no stuff we might produce ourselves
log/*
formats_latex/*
formats_pdflatex/*
local/build/*
# no stuff which is only for my eyes
# no archives
*.tar
._*
# do not include vendor stuff straight away
vendor/*
